<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthy Life</title>
  
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>

<!-- header starts  -->
<header class="header">
  <a href="#" class="logo"> <i class="fas fa-water"></i> Nutri.co </a>

  <nav class="navbar">
    <nav class="navbar">
      <a href="index.html"><a href="{{url_for('static',filename='index.html')}}">Home</a>
      <a href="nutrichart.html"><a href="{{url_for('static',filename='nutrichart.html')}}">Nutrition Chart</a>
      <a href="video.html"><a href="{{url_for('static',filename='video.html')}}">Food</a>
      <a href="bmibmr.html"><a href="{{url_for('static',filename='bmibmr.html')}}">Calculator</a>
      <a href="dosha-quiz.html"><a href="{{url_for('static',filename='dosha-quiz.html')}}">Doshas</a>
    </nav>
  </nav>

  <div class="icons">
    <div id="login-btn" class="fas fa-user"></div>
  </div>

 
</header>
<!-- header ends -->

<!-- bottom navbar  -->
<nav class="bottom-navbar">
  <a href="#home" class="fas fa-home"></a>
  <a href="#about" class="fas fa-list"></a>
  <a href="#recipes" class="fas fa-tags"></a>
  <a href="#articles" class="fas fa-blog"></a>
</nav>
<centre>
<br><br><br><br><br><br><br><br><br>
<section class="contact" id="contact">
  <h1 class="heading"> <span>Upload image of nutrition chart</span> </h1>


<div class="row">

<form method="post" enctype="multipart/form-data">
 

<p>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% endwith %}
</p>

  {% if filename %}
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}">
	</div>
{% endif %}



  <input type="file" name="file">
  <input type="submit" class="btn" value="Upload">

</form>

</div>
</centre>

<!--contact start-->
<section class="contact" id="contact">
  <h1 class="heading"> <span>Contact</span> </h1>
  <div class="row">
      <div class="image">
          <img src="https://unsplash.com/photos/4_jhDO54BYg/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8M3x8aGVhbHRoeSUyMGZvb2R8fDB8fHx8MTYzOTIyMDk1NQ&force=true" alt="">
      </div>
      <form action="">
          <div class="inputBox">
              <input type="text" placeholder="name">
              <input type="email" placeholder="email">
          </div>
          <div class="inputBox">
              <input type="number" placeholder="number">
              <input type="text" placeholder="subject">
          </div>
          <textarea placeholder="message" name="" id="" cols="30" rows="10"></textarea>
          <input type="submit" class="btn" value="send message">
      </form>
  </div>
  <div class="just-line"></div>
</section>
<!--contact end-->


</body>

</html>